<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        .box {
            width: 400px;
            padding: 100px 0 ;
            text-align: center;
            background-color: #ddd;
            margin: 20px;
            display: inline-block;
        }
        
        li.fav {
            background-color: rgb(27, 232, 255);
        }
    </style>
</head>
<body>
    <h1>Hello Vue</h1>
    <div id="app">
        <!-- attribute binding -->
        <a v-bind:href="url">TheNetNinja</a>
        <br>
        <a :href="url">TheNetNinja (works too)</a>
        <br>
        <ul v-if="showBooks">
            <!-- loop through books -->
            <li v-for="book in filteredBooks" v-bind:class="{ fav:book.isFav}">
                <p>{{ book.title }} - {{ book.author }} - {{ book.age }}</p>
                <button @click="book.age++"> Increase age </button>
                <button @click="book.age--"> Decrease age </button>
                <button @click="book.isFav = !book.isFav"> Toggle fav </button>
            </li>
        </ul>


        <div v-show="showBooks"> Showing Books (use css instead of v-else)</div> 
        <button @click="toggleShowBooks">
            {{ showBooks ? 'Hide books' : 'Show books' }}
        </button>
        <br>
        <!-- mouse events -->
        <div class="box" @mouseover="handleEvent($event,5)"> mouseover</div>
        <div class="box" @mouseleave="handleEvent"> mouseleave</div>
        <div class="box" @dblclick="handleEvent"> doubleclick</div>
        <div class="box" @mousemove="handleMouseMove"> position - {{x}} - {{y}}</div>


    </div>

    <script src="app.js"></script>
</body>
</html>